.routine-input {
  position: relative;
  margin: 0;
  width: 100%;
  height: 120px;
  font-size: 18px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  padding: 16px;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.routine-steps {
  width: 100%;
  table-layout: auto;
}

th,
td {
  padding: 10px 5px 10px 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  height: 120px;
}

.routine-step-img {
  max-width: 160px;
  max-height: 100px;
}

.routine-step-header-img-container {
  width: 320px;
  height: 200px;
}

.routine-step-header-img {
  max-width: 320px;
  max-height: 200px;
}

.routine-step-label {
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}

.play-header {
  align-content: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}

.button {
  cursor: pointer;
  font-size: 18px;
}

.play-header .button {
  font-size: 32px;
}

.play-header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.timer {
  font-size: 44px;
}
